.body1 {
    background-image: url("../img/KOBE3.png");
    background-color: transparent;
    background-size: cover;
    position: fixed;  
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.body2 {
    background-image: url("../img/KOBE2.jpg");
    background-color: transparent;
    background-size: cover;
    position: fixed;  
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows:  25% auto;
    grid-template-areas: 
    "hd nav nav"
    "ma ma ma";
}

header {
    display: grid;
    grid-area: hd;
    align-items: left;
    justify-content: left;
    padding: 0px 100px;
}

nav {
    grid-area: nav;
    text-align: right;
    margin-top: 15px;
    margin-right: 25px;
    
}


a {
    color: white;
    display: block;
    width: 100%;
}

a:hover {
    color: black;
}

.Knappar {
        display: flex;
        background-color: transparent;
        font-size: 16px;
        justify-content: flex-end;
        transition-duration: 0.4s;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Knappar button:not(:last-child) {
    border-right: none; /* Tar bort dubbla kanter */
  }



.Knapp1:hover {
    background: white;
    color: black;
}
.Knapp2:hover {
    background: white;
    color: black;
}
.Knapp3:hover {
    background: white;
    color: black;
}
.Knapp4:hover {
    background: white;
    color: black;
}
.Knapp1 {
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    border: 2px solid white;  
    margin: 12px;
  }

  .Knapp2 {
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    border: 2px solid white;  
    margin: 12px;
  }

  
  .Knapp3 {
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    border: 2px solid white;  
    margin: 12px;
  }

  
  .Knapp4 {
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    border: 2px solid white;  
    margin: 12px;
  }

  

  


main {
    display: grid;
    grid-area: ma;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0px 400px;
}

.Logga {
    width: 150px;
    height: auto;  
    padding: 5px;  
}

.Kobe1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Kobe1p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
}

