/* klassen för alla bodies */
.body1 {
    background-color: transparent;
    background-size: cover;
    position: fixed;  
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0px;
}


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows:  15% auto;
    grid-template-areas: 
    "hd nav nav"
    "ma ma ma";
}

.familypic {
    border:  4px solid white;
    width: 700px;
    height: auto;
    margin: auto;
}

.container2 {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows:  15% auto;
    grid-template-areas: 
    "hd nav nav"
    "as1 ma as2";
}

.container3 {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows:  15% auto;
    grid-template-areas: 
    "hd nav nav"
    "ma ma ma";
}

.aside1 {
    display: grid;
    grid-area: as1;
    align-items: center;
    justify-content: left;
    margin: 10%;
    padding-left: 50px;
}

/* Alla paragrafer ska vara i italic */
 p {
        font-style: italic;
    }

.kobe24 { 
width: 200px;
height: auto;

}

.kobe8 {
    width: 480px;
    height: auto;
}

/* Bakgrunden på sida1 */
#video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 1920px;
    height: 1080px;
   filter: brightness(60%);
    }


.aside2 {
    display: grid;
    grid-area: as2;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    
}

.infofamily {
    font-size: 25px;
}


nav {
    grid-area: nav;
    text-align: right;
    margin-top: 15px;
    margin-right: 25px;
    padding-left: 600px;
}

.kobeshortinfo {
    display: none;
}

.main1 {
    padding-bottom: 150px;
}

.main3 {
    padding: 130px 100px;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main4 {
    grid-area: ma;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main5 {
        height: 100vh;
        width: 100vw;
        padding: 0px 0px;
        justify-content: space-evenly;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "sec1 sec2 sec3";
        
}

.headerall {
    display: grid;
    grid-area: hd;
    justify-content: left;
    padding-left: 100px;
}

main::-webkit-scrollbar {
    display: none;
}

.sec1 {
    grid-column: 1;
    margin: 15px;
}

.sec2 {
    grid-column: 2;
    margin: 15px;
}

.sec3 {
    grid-column: 3;
    margin: 15px;
}

.kobesec1 {
    border:  4px solid white;
    height: 60vh;
    width: 25vw;
}

.kobesec2 {
    border:  4px solid white;
    height: 60vh;
    width: 25vw;
}

.kobesec3 {
    border:  4px solid white;
    height: 60vh;
    width: 25vw;
}

a {
    color: white;
    display: block;
    width: 100%;
}

/* Texten ändras när man hovrar på hamburgermenyn */
a:hover {
    color: black;
}

.current {
    color: goldenrod;
    display: block;
    width: 100%;
}

/* Gemensamma klassen för alla knappar uppe tille höger på datorverisionen */
.buttons {
        display: flex;
        background-color: transparent;
        font-size: 16px;
        justify-content: flex-end;
        transition-duration: 0.4s;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button:hover {
    background: white;
    color: black;
}


.button {
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    border: 2px solid white;  
    margin: 12px;
  }

  .button-active {
    background-color: white;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    border: 2px solid whitesmoke;  
    margin: 12px;
  }

main {
    display: grid;
    grid-area: ma;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0px 100px;
}

.main2 {
    padding: 50px 100px;
}

.logo {
    width: 150px;
    height: auto;  
    padding: 5px;  
}

.middletitle {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.kobelonginfo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.burgermenuitems {
    color: white;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 100px;
    font-size: 28px;
    background-color: #4B0082;
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: 1;
 }

 .burger {
    display: none;
    position: absolute;
    z-index: 3;
    top: 42px;
    left: 20px;
    cursor: pointer;
}

/* Själva hamburgermenyn */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Ändrar "hamburgaren" till ett x*/
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  

  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
  
/* När skärmens bredd är mindre än 960px så följer den det som står under @media */
@media only screen and (max-width: 960px) {
    .body1 {
        position: fixed;
        background-color: transparent;
        background-size: cover; 
        background-repeat: no-repeat;
        width: auto;
        height: 100%;
        margin-left: 0px;
        z-index: -1;
        margin: 0px;
    }


     .kobesec1 {
        border: 2px solid transparent;
        height: 0px;
        width: auto;
    }
    
    .kobesec2 {
        border: 2px solid transparent;
        height: 0px;
        width: auto;
    }
    
    
    .kobesec3 {
        border: 2px solid transparent;
        height: 0px;
        width: auto;
   }



.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  15% 0% 85%;
    grid-template-areas: 
    "hd"
    "nav"
    "ma";
}

.container2 {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  15% 85%;
    grid-template-areas: 
    "hd" 
    "ma";
}

.container3 {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  15% 0% 85%;
    grid-template-areas: 
    "hd"
    "nav"
    "ma";
}

.kobeshortinfo {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.kobelonginfo {
    display: none;
}

.hiddenhistory {
    display: block;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}


.text {
    font-size: 25px;
}

main {
    height: 60vh;
    font-size: 23px;
}
    
.main1 {
    padding: 0px 50px;
    padding-bottom: 0px;
}

.main2 {
    padding: 0px 50px; 
    vertical-align: top;
}

.main3 {
    padding: 0px 50px;
    vertical-align: top;
    font-size: 23px;
}


.main4 {
    padding: 0px 50px;
    vertical-align: top;
}


.main5 {
    height: 100vh;
    width: 100vw;
    padding: 0px 0px;
    overflow-x: hidden;
      overflow-y: scroll;
    justify-content: space-evenly;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "sec1" 
    "sec2" 
    "sec3";
    
}

.aside1 {
    display: none;
    grid-area: as1;
    align-items: center;
    justify-content: left;
    margin: 10%;
    padding-left: 50px;
}

.aside2 {
    display: none;
    grid-area: as2;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    
}

.headerall {
    display: grid;
    border-bottom:  4px solid white;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-left: 0px;
}

nav {
    grid-area: nav;
    text-align: center;
    padding: 50px 100px;
    margin-top: 0px;
    margin-right: 50px;
}
 
  .middletitle {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
  }

  .burger {
      display: block;
  }

  .menu {
      display: none;
  }

  .kobesec1 {
      grid-area: sec1;
    border:  4px solid white;
    height: auto;
    width: 80vw;
}

.kobesec2 {
    grid-area: sec2;
    border:  4px solid white;
    height: auto;
    width: 80vw;
}


.kobesec3 {
    grid-area: sec3;
    border:  4px solid white;
    height: auto;
    width: 80vw;
}

.sec1 {
    grid-column: 1;
    grid-row: 1;
    margin: 15px;
}

.sec2 {
    grid-column: 1;
    grid-row: 2;
    margin: 15px;
}


.sec3 {
    grid-column: 1;
    grid-row: 3;
    margin: 15px;
}

.familypic {
    border:  4px solid white;
    width: 95%;
    height: auto;
    
}

}